/* styles.css */

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    min-height: 100vh;
}

.container {
    border: .1em solid black;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.row-one, .row-two, .row-three, .row-four {
    border: .1em solid red;
    display: flex;
    flex: 1;
    align-self: stretch;
}

.box {
    border: .1em solid blue;
    display: flex;
    flex: 1;
}